div {
    border: 1px solid black;
}

.hightlight {
    background-color: yellow;
    color: green;
}

#emphasis {
    color: red;
}

#emphasis, .hightlight {
    font-style: italic;
}

p {
    color: blue;
}
