#가 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#나 {
    font-size: xx-small;
}

#다 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    letter-spacing: 4px;
    text-align: center;
}